/*Below are the style rules for the entire webpage and the background color for the body*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/*Below are the style rules for the header, rendering the SEO in Horiseon in grey 
and the rest of the work in white, highlighting the main purpose of search engine optimisation*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 32px;
}

header h1 .seo {
    color: #d9dcd6;
}

/* Below are the style rules for the three links in the navigation bar*/
header nav {
    padding-top: 10px;
    margin-right: 10px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*Did not alter anchor or paragraph styles from starter code*/
a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}
/*Below is the style rule for the main image on the page, unaltered from starter code*/
.image {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/*Below are the rules formatting the text boxes in which descriptions of the services are written,
alternating the images in the main boxes from left to right to left, and vice-versa for the text*/
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Consolidated "Lead Generation", "Brand Awareness", and "Cost Management" classes in the aside sections 
into "benefit" to shorten code*/
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Consolidated "search-engine-optimization", "online-reputation-management", and "social-media-marketing" classes 
into "services" to shorten code*/
.services {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.services img {
    max-height: 200px;
}

.services h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Unalterned from starter code*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
